main.container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0 1em;
  grid-template-areas: ". .";
}

main.plans {
  article {
    font-family: monospace;
    white-space: pre-wrap;
  }
}