nav {
  --pico-nav-link-spacing-vertical: 0;
  --pico-nav-element-spacing-vertical: 0rem;
}

body {
  overflow-y: scroll;
}

main.container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: ". .";
}

main.plans article {
  font-family: monospace;
  white-space: pre-wrap;
}